<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>myStock</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                        [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true"
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" min="true">

        <p-menu [model]="items">

        <ng-template pTemplate="submenuheader" let-item>
            <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <a pRipple class="flex align-items-center p-menuitem-link">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>

                @if (item.shortcut) {
                  <span class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
                }
            </a>
        </ng-template>      </p-menu>

    </mat-sidenav>

    <mat-sidenav-content>

      <p>conteudo</p>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
