<div class="grid bg-gray-400 ">
  <div class="col-6" >
      <div class="p-3 border-round-sm bg-gray-900 font-bold ">
        <span class="pb-4 flex">Historico de Vendas</span>
          <app-historySale />
      </div>
  </div>
  <div class="col-6 ">
      <div class="p-3 border-round-sm bg-gray-900 font-bold ">
        <span class="pb-2 flex">Vendas por categorias</span>
          <app-salesByCategory />
      </div>
  </div>
  <div class="col-12 ">
      <div class="p-3 border-round-sm bg-gray-900 font-bold ">
        <span class="pb-2 flex">Produtos mais vendidos</span>
        <app-topproducts/>
      </div>
  </div>
</div>

